/*
*
*
* @author Richard de Deus
* @version 0.1
*/

/*   ====================================layout============================================*/

/*   ----------------Barra de Navegação --------------------   */
nav.navbar-transparente{
    padding: 20px 0px;
    background: rgba(0, 0, 0, 0.6);
    border: none;

}


.img-logo{
    
    height: 80px;
    width: 210px;
    display: block;
    background: url('imagens/logo-tangueando.png') no-repeat ;
    background-size: contain;
    color: transparent;
}

.navbar-brand{
    padding: 10px 0;
}

.divisor{
    width: 1px;
    height: 16px;
    background: #fff;
    margin: 17px 10px;
}

.navbar-inverse .navbar-nav>li>a{
    color: #fff;  
}

.navbar-inverse .navbar-nav>li>a:hover{
    color: #9bf0e1;
}

.navbar-collapse{
    margin-top: 25px;
}



